<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost:8080/">

    <title>Admin - BookShop DHA</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="admin/dashboard"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item  ">
                            <a href="admin/dashboard" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Components</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="component-alert.html">Alert</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-badge.html">Badge</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-breadcrumb.html">Breadcrumb</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-button.html">Button</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-card.html">Card</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-carousel.html">Carousel</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-dropdown.html">Dropdown</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-list-group.html">List Group</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-modal.html">Modal</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-navs.html">Navs</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-pagination.html">Pagination</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-progress.html">Progress</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-spinner.html">Spinner</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-tooltip.html">Tooltip</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Extra Components</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="extra-component-avatar.html">Avatar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">Sweet Alert</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-toastify.html">Toastify</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-rating.html">Rating</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-divider.html">Divider</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Layouts</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="layout-default.html">Default Layout</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-1-column.html">1 Column</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-navbar.html">Vertical with Navbar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-horizontal.html">Horizontal Menu</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-title">Forms &amp; Tables</li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>Form Elements</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-element-input.html">Input</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-input-group.html">Input Group</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-select.html">Select</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-radio.html">Radio</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-checkbox.html">Checkbox</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-element-textarea.html">Textarea</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="form-layout.html" class='sidebar-link'>
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>Form Layout</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-pen-fill"></i>
                                <span>Form Editor</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-editor-quill.html">Quill</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-ckeditor.html">CKEditor</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-summernote.html">Summernote</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="form-editor-tinymce.html">TinyMCE</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item active ">
                            <a href="admin/table" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Table</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Datatable</span>
                            </a>
                        </li>

                        <li class="sidebar-title">Extra UI</li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-pentagon-fill"></i>
                                <span>Widgets</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-widgets-chatbox.html">Chatbox</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-widgets-pricing.html">Pricing</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-widgets-todolist.html">To-do List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-egg-fill"></i>
                                <span>Icons</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-icons-bootstrap-icons.html">Bootstrap Icons </a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-icons-fontawesome.html">Fontawesome</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-icons-dripicons.html">Dripicons</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-bar-chart-fill"></i>
                                <span>Charts</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-chart-chartjs.html">ChartJS</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-chart-apexcharts.html">Apexcharts</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="ui-file-uploader.html" class='sidebar-link'>
                                <i class="bi bi-cloud-arrow-up-fill"></i>
                                <span>File Uploader</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-map-fill"></i>
                                <span>Maps</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="ui-map-google-map.html">Google Map</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="ui-map-jsvectormap.html">JS Vector Map</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-title">Pages</li>

                        <li class="sidebar-item  ">
                            <a href="application-email.html" class='sidebar-link'>
                                <i class="bi bi-envelope-fill"></i>
                                <span>Email Application</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="application-chat.html" class='sidebar-link'>
                                <i class="bi bi-chat-dots-fill"></i>
                                <span>Chat Application</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="application-gallery.html" class='sidebar-link'>
                                <i class="bi bi-image-fill"></i>
                                <span>Photo Gallery</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="application-checkout.html" class='sidebar-link'>
                                <i class="bi bi-basket-fill"></i>
                                <span>Checkout Page</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Authentication</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="auth-login.html">Login</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="auth-register.html">Register</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="auth-forgot-password.html">Forgot Password</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-x-octagon-fill"></i>
                                <span>Errors</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="error-403.html">403</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="error-404.html">404</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="error-500.html">500</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Table</h3>
                            <p class="text-subtitle text-muted">For admin to check lists</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="admin/dashboard">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Table</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Category and Publisher Tables start -->
                <section class="section">
                    <div class="row" id="basic-table">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h4 class="card-title mb-0">Category Table</h4>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <form th:action="@{admin/addCategory}" method="post" class="d-flex align-items-center">
                                            <label class="mr-2">
                                                <input type="text" name="categoryName" placeholder="Category Name" class="form-control" required>
                                            </label>
                                            <button type="submit" class="btn btn-primary btn-sm">Add Category</button>
                                        </form>
                                    </div>

                                    <!-- Phần update mới -->
                                    <div class="mt-4">
                                        <h5>Update Category</h5>
                                        <form th:action="@{admin/updateCategory}" method="post" class="d-flex align-items-center">
                                            <label class="mr-2">
                                                <select name="categoryId" class="form-control" required>
                                                    <option value="">Select Category</option>
                                                    <option th:each="category : ${categories}" th:value="${category.getCategoryId()}" th:text="${category.getCategoryName()}"></option>
                                                </select>
                                            </label>
                                            <label class="mr-2">
                                                <input type="text" name="newCategoryName" placeholder="New Category Name" class="form-control" required>
                                            </label>
                                            <button type="submit" class="btn btn-warning btn-sm">Update Category</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- Table with outer spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>CategoryId</th>
                                                        <th>CategoryName</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr  th:each="category: ${categories}">
                                                        <td class="text-bold-500" th:text="${category.getCategoryId()}"></td>
                                                        <td th:text="${category.getCategoryName()}">$15/hr</td>
                                                        <td>
                                                            <a th:href="@{admin/removeCategory/{id}(id=${category.getCategoryId()})}" class="btn btn-danger btn-sm"
                                                               onclick="return confirm('Are you sure you want to delete this category?')">Remove</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h4 class="card-title mb-0">Publisher Table</h4>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <form th:action="@{/admin/addPublisher}" method="post" class="d-flex align-items-center">
                                            <label class="mr-2">
                                                <input type="text" name="publisherName" placeholder="Publisher Name" class="form-control" required>
                                            </label>
                                            <button type="submit" class="btn btn-primary btn-sm">Add Publisher</button>
                                        </form>
                                    </div>
                                    <!-- Phần update mới -->
                                    <div class="mt-4">
                                        <h5>Update Publisher</h5>
                                        <form th:action="@{admin/updatePublisher}" method="post" class="d-flex align-items-center">
                                            <label class="mr-2">
                                                <select name="publisherId" class="form-control" required>
                                                    <option value="">Select Publisher</option>
                                                    <option th:each="publisher : ${publishers}" th:value="${publisher.getPublisherId()}" th:text="${publisher.getPublisherName()}"></option>
                                                </select>
                                            </label>
                                            <label class="mr-2">
                                                <input type="text" name="newPublisherName" placeholder="Publisher Name" class="form-control" required>
                                            </label>
                                            <button type="submit" class="btn btn-warning btn-sm">Update Publisher</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- Table with no outer spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>PublisherId</th>
                                                        <th>PublisherName</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="publisher : ${publishers}">
                                                        <td class="text-bold-500" th:text="${publisher.getPublisherId()}">Michael Right</td>
                                                        <td th:text="${publisher.getPublisherName()}">$15/hr</td>
                                                        <td>
                                                            <a th:href="@{admin/removePublisher/{id}(id=${publisher.getPublisherId()})}" class="btn btn-danger btn-sm"
                                                               onclick="return confirm('Are you sure you want to delete this publisher?')">Remove</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Category and Publisher Tables end -->

                <!-- Author and Discount Tables start -->
                <section class="section">
                    <div class="row" id="basics-table">
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h4 class="card-title mb-0">Author Table</h4>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <form th:action="@{/admin/addAuthor}" method="post" class="d-flex align-items-center">
                                            <label class="mr-2">
                                                <input type="text" name="authorName" placeholder="Author Name" class="form-control" required>
                                            </label>
                                            <label class="mr-2">
                                                <input type="date" name="dob" class="form-control" required>
                                            </label>
                                            <button type="submit" class="btn btn-primary btn-sm">Add Author</button>
                                        </form>
                                    </div>
                                    <!-- Phần update mới -->
                                    <div class="mt-4">
                                        <h5>Update Author</h5>
                                        <form th:action="@{admin/updateAuthor}" method="post" class="d-flex align-items-center">
                                            <label class="mr-2">
                                                <select name="authorId" class="form-control" required>
                                                    <option value="">Select Author</option>
                                                    <option th:each="author : ${authors}" th:value="${author.getAuthorId()}" th:text="${author.getAuthorName()}"></option>
                                                </select>
                                            </label>
                                            <label class="mr-2">
                                                <input type="text" name="newAuthorName" placeholder="Author Name" class="form-control" required>
                                            </label>
                                            <label class="mr-2">
                                                <input type="date" name="dob" placeholder="Date of Birth" class="form-control" required>
                                            </label>
                                            <button type="submit" class="btn btn-warning btn-sm">Update Author</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- Table with outer spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-lg">
                                                <thead>
                                                <tr>
                                                    <th>AuthorId</th>
                                                    <th>AuthorName</th>
                                                    <th>Date of birth</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  th:each="author: ${authors}">
                                                    <td class="text-bold-500" th:text="${author.getAuthorId()}"></td>
                                                    <td th:text="${author.getAuthorName()}">$15/hr</td>
                                                    <td th:text="${author.getDob()}">$15/hr</td>
                                                    <td>
                                                        <a th:href="@{admin/updateAuthor/{id}(id=${author.getAuthorId()})}" class="btn btn-primary btn-sm">Edit</a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{admin/removeAuthor/{id}(id=${author.getAuthorId()})}" class="btn btn-danger btn-sm"
                                                           onclick="return confirm('Are you sure you want to delete this author?')">Remove</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">Discount Table</h4>
                                        <a th:href="@{/admin/addNewUserPage}" class="btn btn-primary btn-sm">Add Discount</a>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- Table with no outer spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-lg">
                                                <thead>
                                                <tr>
                                                    <th>DiscountCode</th>
                                                    <th>DiscountAmount</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="discount : ${discounts}">
                                                    <td class="text-bold-500" th:text="${discount.getDiscountCode()}">Michael Right</td>
                                                    <td th:text="${discount.getDiscountAmount()}">$15/hr</td>
                                                    <td>
                                                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger btn-sm"
                                                           onclick="return confirm('Are you sure you want to delete this publisher?')">Remove</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Author and Discount Tables end -->

                <!--  User table start -->
                <section class="section">
                    <div class="row" id="table-inverse">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">User Table</h4>
                                        <a th:href="@{/admin/addNewUserPage}" class="btn btn-primary btn-sm">Add New User</a>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- table with dark -->
                                        <div class="table-responsive">
                                            <table class="table table-light ">
                                                <thead>
                                                    <tr>
                                                        <th>UserId</th>
                                                        <th>FirstName</th>
                                                        <th>LastName</th>
                                                        <th>Email</th>
                                                        <th >Address</th>
                                                        <th>Username</th>
                                                        <th>Password</th>
                                                        <th>Gender</th>
                                                        <th>PhoneNumber</th>
                                                        <th>Edit</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${users}">
                                                    <td th:text="${user.getUserId()}"></td>
                                                    <td th:text="${user.getFirstName()}"></td>
                                                    <td th:text="${user.getLastName()}"></td>
                                                    <td th:text="${user.getEmail()}"></td>
                                                    <td th:text="${user.getAddress()}" ></td>
                                                    <td th:text="${user.getUsername()}"></td>
                                                    <td th:text="${user.getPassword()}"></td>
                                                    <td th:text="${user.getGender()}"></td>
                                                    <td th:text="${user.getPhoneNumber()}"></td>
                                                    <td>
                                                        <a th:href="@{admin/updateUserPage/{id}(id=${user.getUserId()})}" class="btn btn-primary btn-sm">Edit</a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{admin/removeUser/{id}(id=${user.getUserId()})}" class="btn btn-danger btn-sm"
                                                           onclick="return confirm('Are you sure you want to delete this user?')">Remove</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- User table end -->

                <!-- Invoice table start -->
                <section class="section">
                    <div class="row" id="table-bordered">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">Invoice Table</h4>
<!--                                        <a th:href="@{/admin/addNewUserPage}" class="btn btn-primary btn-sm">Add New Author</a>-->
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- table bordered -->
                                        <div class="table-responsive">
                                            <table class="table table-light">
                                                <thead>
                                                    <tr>
                                                        <th>InvoiceId</th>
                                                        <th>PaymentMethod</th>
                                                        <th>Status</th>
                                                        <th>ShipFee</th>
                                                        <th>OrderDate</th>
                                                        <th>DeliveryDate</th>
                                                        <th>Discount </th>
                                                        <th>TotalAmount</th>
                                                        <th>TotalPay</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="invoice: ${invoices}">
                                                        <td class="text-bold-500" th:text="${invoice.getInvoiceId()}">Michael Right</td>
                                                        <td th:text="${invoice.getPaymentMethod()}">$15/hr</td>
                                                        <td th:text="${invoice.getStatus()}">$15/hr</td>
                                                        <td th:text="${invoice.getShipFee()}">$15/hr</td>
                                                        <td th:text="${invoice.getOrderDate()}">$15/hr</td>
                                                        <td th:text="${invoice.getDeliveryDate()}"></td>
                                                        <td th:text="${invoice.getDiscount()?.getDiscountAmount() ?: 0} + '%'">$0</td>                                                    <td th:text="${invoice.getTotalAmount()}">$15/hr</td>
                                                        <td th:text="${invoice.getTotalPay()}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Invoice table end -->

                <!-- Book tables start -->
                <section class="section">
                    <div class="row" id="table-responsive">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title mb-0">Book Table</h4>
                                        <a th:href="@{/admin/addBookPage}" class="btn btn-primary btn-sm">Add Book</a>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                    </div>
                                    <!-- table responsive -->
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>BookImage</th>
                                                    <th>BookId</th>
                                                    <th>BookName</th>
                                                    <th>Publisher</th>
                                                    <th>Category</th>
                                                    <th>Author</th>
                                                    <th>Description</th>
                                                    <th>PublishDate</th>
                                                    <th>Amount</th>
                                                    <th>Import Price</th>
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="book : ${books}">
                                                    <td><img th:src="${book.getImageBook() != null ? (book.getImageBook().startsWith('/') ? book.getImageBook() : '/img/book_Images/' + book.getImageBook()) : '/img/img.png'}" alt="" style="width: 50px;">
                                                    </td>
                                                    <td th:text="${book.getBookId()}"></td>
                                                    <td th:text="${book.getBookName()}"></td>
                                                    <td th:text="${book.getPublisher?.getPublisherName() ?: null}"></td>
                                                    <td th:text="${book.getCategory?.getCategoryName() ?: null}"></td>
                                                    <td>
                                                    <span th:each="author, iterStat : ${book.getAuthor()}">
                                                        <span th:text="${author.getAuthorName()}"></span>
                                                        <span th:if="${!iterStat.last}">, </span>
                                                    </span>
                                                    </td>
                                                    <td th:text="${book.getDescription()}"></td>
                                                    <td th:text="${book.getPublishDate()}"></td>
                                                    <td th:text="${book.getStock?.getQuantity() ?: 0}"></td>
                                                    <td th:text="${book.getStock?.getImportPrice() ?: 0}"></td>
                                                    <td>
                                                        <a th:href="@{admin/removeBook/{id}(id=${book.getBookId()})}" class="btn btn-danger btn-sm"
                                                           onclick="return confirm('Are you sure you want to delete this book?')">Remove</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Book tables end -->

            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2024 &copy; DHA</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="#">DHA</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/main.js"></script>
</body>

</html>
